  Ques 1: Explain with an example each when to use a for loop and a while loop
  Ans 1: We can use the for loop when we need to iterate over a list/tuple/set, or access all the elements of the list/tuple/set.

   We use while loop in the following cases:
   1. For reading a file into a variable.
   2. when asking for user input.
   3. when the increment value is nonstandard.

In [7]:
# Ques 2: Write a python program to print the sum and product of the first 10 natural numbers using for loop
l = [1,2,3,4,5,6,7,8,9,10]
sum = 0
product = 1
for i in l:
  sum+=i
  product*=i
print("Sum = ",sum)
print("Product = ",product)

Sum =  55
Product =  3628800

In [6]:
# Ques 2: Write a python program to print the sum and product of the first 10 natural numbers using while loop
sum = 0
product = 1
num = 1
while num<=10:
  product = product*num
  sum=sum+num
  num = num+1
print("Sum = ",sum)
print("Product = ",product)

Sum =  55
Product =  3628800

In [3]:
# Ques 3: Create a python program to compute the electricity bill for a household. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print that list.The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
units = int(input("Enter the units of the electricity consumed "))
amt = 0
if units<=100:
  amt = 4.5*units
elif units<=200:
  amt = 4.5*100 + 6*(units-100)
elif  units<=300:
  amt = 4.5*100 + 6*100 + 10*(units-200)
else :
  amt = 4.5*100 + 6*100 + 10*100 + 20*(units-300)
print(amt)

Enter the units of the electricity consumed 310
2250.0

In [9]:
# Ques 4:  Create a list of numbers from 1 to 100. Use for loop to calculate the cube of each number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print that list.
l=[]
for i in range(1,101):
  cube = i**3
  if cube%4==0 or cube%5==0:
    l.append(i)
l

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [11]:
#  Create a list of numbers from 1 to 100. Use while loop to calculate the cube of each number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print that list.
num = 1
l=[]
while num<=100:
  cube = num**3
  if cube%4==0 or cube%5==0:
    l.append(num)
  num=num+1
l

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [5]:
# Ques 5:  Write a program to filter count vowels in the below-given string.
# string = "I want to become a data scientist"
s = "I want to become a data scientist"
count=0
for i in s:
  if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
    count=count+1
print(count)

12