Ques 1. Write a program to accept percentage from the user and display the grade according to the following criteria.

In [7]:
percentage = float(input("Enter the percentage "))

if percentage>90:
  print('A')
elif percentage>80:
  print('B')
elif percentage>=60:
  print('C')
else:
  print('D')

Enter the percentage 75
C

Ques 2. Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria.

In [10]:
cost_price = float(input("Enter the cost price of the bike "))

if cost_price>100000:
  print('15%')
elif cost_price>50000:
  print('10%')
else:
  print('5%')

Enter the cost price of the bike 60000
10%

Ques 3. Accept ant city from the user and display the monuments of that city.

In [17]:
city = input("Enter the city ")
if city=='Delhi':
  print('Red Fort')
elif city=='Agra':
  print('Taj Mahal')
elif city=='Jaipur':
  print('Jal Mahal')
else:
  print('No monument listed')

Enter the city Agra
Taj Mahal

Ques 4. Check how many times a number can be divided by 3 before it is less than or equal to 10.

In [20]:
num = int( input("Enter the number "))

count = 0

while num>10:
  num/=3
  count+=1

print(count)

Enter the number 120
3

Ques 5. Why and when to use while loop in Python. Give a detailed description with example.

Ans 5. The while loop in Python is used when you want to execute a block of code repeatedly as long as a condition is true. It's particularly handy when the number of iterations is not predetermined and depends on a condition that might change during the execution of the loop.

In [23]:
# Example: To print numbers from 1 to 10
num = 1
while num<11:
  print(num)
  num+=1

1
2
3
4
5
6
7
8
9
10

Ques 6. Use nested while loop to print 3 different pattern.

In [25]:
# Pattren 1: Triangle Pattern
rows = 4
i = 1
while i<=rows:
  j = 1
  while j<=i:
    print("*", end = " ")
    j+=1
  print()
  i+=1

*
* *
* * *
* * * *

In [26]:
# Pattern 2: Number Pattern
n = 5
i = 1

while i<=n:
  j=1
  while j<=i:
    print(j, end = " ")
    j+=1
  print()
  i+=1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [28]:
#Pattern 3: Sqaure Pattern
n = 4
i = 1
while i<=n:
  j = 1
  while j<=n:
    print("#",end=" ")
    j+=1
  print()
  i+=1

# # # #
# # # #
# # # #
# # # #

Ques 7 and 8. Reverse a while loop to display numbers from 10 to 1.

In [22]:
num = 11
while num>1:
  num-=1
  print(num)

10
9
8
7
6
5
4
3
2
1